<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<display-name>AdminServlet</display-name>
  	<description></description>
  	<servlet-class>services.AdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>dummy</servlet-name>
  	<display-name>dummy</display-name>
  	<description></description>
  	<servlet-class>services.dummy</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddClassServlet</servlet-name>
  	<display-name>AddClassServlet</display-name>
  	<description></description>
  	<servlet-class>services.AddClassServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewServlet</servlet-name>
  	<display-name>ViewServlet</display-name>
  	<description></description>
  	<servlet-class>services.ViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>View</servlet-name>
  	<display-name>View</display-name>
  	<description></description>
  	<servlet-class>services.View</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dummy</servlet-name>
  	<url-pattern>/dummy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddClassServlet</servlet-name>
  	<url-pattern>/AddClassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewServlet</servlet-name>
  	<url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>View</servlet-name>
  	<url-pattern>/View</url-pattern>
  </servlet-mapping>
</web-app>
